# Ignore virtual environment containing dependencies
.venv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local scraped data (Stored on Hugging Face instead)
data/
*.jsonl

# Ignore local application logs (Stored on Hugging Face instead)
logs/
*.log

# Ignore local environment secrets
.env

# SQL connection
.vscode